* {
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: cursive;
}

a{
    text-decoration: none;
}

section img {
    width: 100%;
    max-width: 250px;
    border-radius: 25px;
    border: 3px solid #4682B4;
}

header {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    width: 100%;
    height: 3em;
    background-color: #4682B4;
    
}

header ul{
    text-align: center;
}

header li a {
    font-weight: lighter;
    text-transform: uppercase;
    border-left: 2px #fff;
    padding-left: 2em;
    padding-right: 2em;
}

header li {
    display: inline-block;
    margin-left: 3em;
}

#contato li {
    display: inline-block;
    margin: 1em;
}

#contato li a{
    display: inline-block;
    margin: 1em;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
}

#contato h3{
    color: #fff;
    background-color: #2B313E;
    border-radius: 55%;
}

#contato .email {
    background-image: url("../Imagens/email.png");
}

#contato .face {
    background-image: url("../Imagens/facebook.png");
}

#contato .twitter {
    background-image: url("../Imagens/twitter.png");
}

#contato .github {
    background-image: url("../Imagens/github.png");
}

#contato .linkedin {
    background-image: url("../Imagens/linkedin.png");
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.identificacao {
    background-image: url("../Imagens/home.jpg");
    background-size: 100%;
    background-attachment: fixed;
    padding: 15em 7em 12em;
}

.identificacao h1 {
    font-size: 2.5em;
    margin-bottom: 0.7em;
}

.identificacao h2 {
    font-size: 1.5em;
    font-weight: lighter;
}

.sombra {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #111;

}

section h3 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

header li a {
    color: #fff;
    font-weight: lighter;
}

.escuras {
    background-color: #4682B4;
    color: #FCFCFD;
}

.claras {
    color: #2B313E;
}

.projetos-header{
    float: left;
    width: 30%;
}

.projetos-header h3 {
    margin-top: 1em;
    color: #111;
}

.projetos-header p {
    color: #111;
}

.styleprojetos{
    margin-left: 40%;
}

.styleprojetos li {
    background-color: #708090;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 15px;
    border: 3px solid #4682B4;

}

.styleprojetos li a {
    color: #ffffff;
    font-size: 1.3em;
}

.styleprojetos li p {
    color: #fff;
    margin-top: 0.5em;
    text-align: justify;
    line-height: 1.2;
}

#sobre p.text {
    margin: 1em;
    width: 50%;
    text-align: justify;
    line-height: 1.4;
}

#sobre p.bio {
    color: #fff;
    font-size: 1.5em;
    font-style: italic;
    margin: 1em;
    width: 50%;
}

#sobre {
    position: relative;
    
}

#texto {
    border: solid 2px #fff;
}

#sobre img {
    width: 200px;
    position: absolute;
    top: 2.99em;
    right: 15%;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #4682B4;
}